<div class="row">
  <div class="col-md-4" *ngFor="let n of nastri" style="text-align: center;">
    <p style="font-weight: bold;">N. nastro: {{n.data.id}}</p>
    <p style="font-weight: bold;">Nome nastro : {{n.data.codice}}</p>
    <p style="font-weight: bold;">Tempo : {{n.gettime()}}</p>

    <ngx-gauge [type]="gaugeType" [value]="n.velocita" [label]="gaugeLabel" [append]="gaugeAppendText"></ngx-gauge>

    <ngx-gauge [type]="gaugeType2" [value]="n.consumo" [label]="gaugeLabel2" [append]="gaugeAppendText2"></ngx-gauge>
  </div>
</div>
